/* BODY */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  margin: auto;
  color: #000000;
  background-color: #FFFFFF;
}

p {
  text-align: justify;
  color: #808080;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  margin: 10px 10px;
}

.container {
  padding-left: 40px;
  padding-right: 40px;
}

.content {
  max-width: 750px;
  margin: auto;
  margin-top: 215px;
}

.content-wide {
  max-width: 900px;
  margin: auto;
  margin-top: 50px;
  padding-top:50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.bar {
  margin: auto;
  background-color: #808080;
  height: 50px;
  width: 100%;
  text-align: left;
  padding-left: 40px;
}

.name {
  font-family: 'Abel', sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;
}

.subtitle {
  font-style: italic;
  color: #808080;
  margin-bottom: 20px;
}

.section {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 40px;
}

.links {
  font-weight: bold;
  font-size: 18px;
}

.links a:link {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  padding-bottom: 10px;
  border-bottom: 2px solid #808080;
}

.links a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  padding-bottom: 10px;
  border-bottom: 2px solid #808080;
}

.links a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #FFD243;
  padding-bottom: 10px;
  border-bottom: 2px solid #FFD243;
}

.links a:active {
  text-decoration: none;
  font-weight: bold;
  color: #FFD243;
  padding-bottom: 10px;
  border-bottom: 2px solid #FFD243;
}

.title {
  font-weight: bold;
}

.tech {
  padding: 5px;
  outline-width: 2px;
  outline-color: #808080;
  outline-style: solid;
  letter-spacing: 2px;
  color: #808080;
  font-size: 11px;
  text-transform: uppercase;
}

.btn {
  border: none;
  background-color: #808080;
  font-size: 11px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.btn:hover {
  color: #FFD243;
}

.btn:active {
  color: #FFD243;
}

.card {
  margin-bottom: 40px;
}

.card-body {
  font-size: 16px;
  color: #808080;
}

.img {
  margin-bottom: 15px;
}